.deck {
  flex: 1;
  overflow-y: scroll;
}
.listGroupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.targetStopText {
  font-weight: 900;
}
.bottomPanel {
  bottom: 0;
  justify-self: end;
  border-top: 1px solid #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  max-height: 50px;
}
.joinRideButton {
  width: 100%;
}
.priceLabel {
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
}
.infoContainer {
  padding: 0px 10px;
  overflow-y: scroll;
}
.infoContainer .itemContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.infoContainer .itemContainer > div {
  min-width: 120px;
  /* max-width: 110px; */
  margin: 5px;
}
.infoContainer .card:first-child {
  margin-top: 1rem;
}
.infoContainer .card {
  margin-bottom: 1rem;
}
