.pageContainer {
  position: relative;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.mapContainer {
  flex: 1;
  overflow-y: hidden;
}
.goBackButton {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}
