.pageContainer {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.mapContainer {
  flex: 1;
  overflow-y: hidden;
}
.deck {
  flex: 1;
  overflow-y: scroll;
}
.cardTitle {
  margin: 0;
}
.cardBody {
  padding: 0;
}
.listGroupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
